:root {
  --mdb-font-roboto: "Roboto", sans-serif;
  --mdb-bg-opacity: 1;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-white: #fff;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-gray-100: #f5f5f5;
  --mdb-gray-200: #eeeeee;
  --mdb-gray-300: #e0e0e0;
  --mdb-gray-400: #bdbdbd;
  --mdb-gray-500: #9e9e9e;
  --mdb-gray-600: #757575;
  --mdb-gray-700: #616161;
  --mdb-gray-800: #4f4f4f;
  --mdb-gray-900: #262626;
  --mdb-primary: #3b71ca;
  --mdb-secondary: #9fa6b2;
  --mdb-success: #14a44d;
  --mdb-danger: #dc4c64;
  --mdb-warning: #e4a11b;
  --mdb-info: #54b4d3;
  --mdb-light: #fbfbfb;
  --mdb-dark: #332d2d;
  --mdb-primary-rgb: 59, 113, 202;
  --mdb-secondary-rgb: 159, 166, 178;
  --mdb-success-rgb: 20, 164, 77;
  --mdb-danger-rgb: 220, 76, 100;
  --mdb-warning-rgb: 228, 161, 27;
  --mdb-info-rgb: 84, 180, 211;
  --mdb-light-rgb: 251, 251, 251;
  --mdb-dark-rgb: 51, 45, 45;
  --mdb-white-rgb: 255, 255, 255;
  --mdb-black-rgb: 0, 0, 0;
  --mdb-body-color-rgb: 79, 79, 79;
  --mdb-body-bg-rgb: 255, 255, 255;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-body-font-family: var(--mdb-font-roboto);
  --mdb-body-font-size: 1rem;
  --mdb-body-font-weight: 400;
  --mdb-body-line-height: 1.6;
  --mdb-body-color: #4f4f4f;
  --mdb-body-bg: #fff;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #f4f2f7, #6177a9 48%, #1f1264);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

.row {
  display: flex;
  column-gap: 30px;
}

.column {
  flex: 50%;
  text-align: left;
  flex-wrap: nowrap;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  display: inline-block;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-family: inherit;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

.link-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding: 10px;
  background: none;
  color: white;
  text-decoration: underline;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

Nav {
  background: #63D471;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
  /* Third Nav */
  /* justify-content: flex-start; */
}

.NavLink {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

  /* &.active {
    color: #000000;
  } */
}

.NavMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;

  /* Second Nav */
  /* margin-right: 24px; */
  /* Third Nav */
  /* width: 100vw;
white-space: nowrap; */
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.NavBtn {
  display: flex;
  align-items: center;
  margin-right: 24px;

  /* Third Nav */
  /* justify-content: flex-end;
width: 100vw; */
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.NavBtnLink {
  border-radius: 4px;
  background: #808080;
  padding: 10px 22px;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;

  /* &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
  } */
}

NavbarBrand {
  display: flex;
  align-items: center;
  margin-right: 24px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.dropdown-toggle::after {
  content: none;
}

.mdbcontainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100%;
}

@media (min-width: 768px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: var(--mdb-gutter-x, 0.75rem);
  padding-left: var(--mdb-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.mdbrow {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--mdb-gutter-y));
  margin-right: calc(-0.5 * var(--mdb-gutter-x));
  margin-left: calc(-0.5 * var(--mdb-gutter-x));
}

.mdbcard {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-white-rgb), var(--mdb-text-opacity));
  display: flex;
  flex-direction: row;
}

.mdbcol {
  margin-left: 1.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.mdbcardimg {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: .25rem;
  max-width: 100%;
  height: auto
}

.sec2 {
  padding: 1.5rem;
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-black-rgb), var(--mdb-text-opacity))
}

.sec3 {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.follow {
  --mdb-text-opacity: 1;
  color: #757575;
  font-size: 0.875em;
  margin-bottom: 0;
}

.mdbcardbody {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-black-rgb), var(--mdb-text-opacity));
  padding: 1.5rem;
}

.about {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.25rem;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.5rem;
}

body {
  margin: 0;
  color: #4f4f4f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: var(--mdb-body-text-align);
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  background-color: var(--mdb-body-bg);
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--mdb-gutter-x) * 0.5);
  padding-left: calc(var(--mdb-gutter-x) * 0.5);
  margin-top: var(--mdb-gutter-y);
}

img {
  vertical-align: middle;
}

button:not(:disabled) {
  cursor: pointer;
}

.ripple-surface {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

.btn-outline-dark {
  color: #332d2d;
  border-color: #332d2d;
}

[class*=btn-outline-] {
  border-width: 0.125rem;
  border-style: solid;
  box-shadow: none;
  padding: 0.5rem 1.375rem 0.375rem 1.375rem;
}

.btn {
  box-shadow: 0 4px 9px -4px rgb(0 0 0 / 35%);
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #4f4f4f;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

.flwbtn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
  background: none;
}



/* isActive */